/* backgound */
body{
background: #fff;
}
h1{
   /*  background-color:blue ; */
 /*  background:#E52424; */
  /* background:rgb(239, 239, 239); */
  background-image: url('../img/bg.jpg');
 /*  background-repeat: repeat; */
  /* background-repeat: no-repeat; */
  background-repeat: repeat;
  background-attachment: scroll;
  background-position:20px,20px;
}

/* Text formatting */
.test{
  color:rgb(12, 122, 233);
  text-decoration: none; /* under-line, over-line, none, strike-through */
  text-indent: 40px;
  text-align: justify; /* left, right, center, justify */
  text-transform: none;
  word-spacing:0px;
  line-height: 30px;
  letter-spacing:4px;
}

/* Font Formatting */
.font{
/*   font-size: 120%;
  font-size: 10px;
  font-size: xx-small;
  font-size: x-small;
  font-size: small;
  font-size: medium;
  font-size: large;
  font-size: x-large;
  font-size: xx-large;
  font-size: smaller; */
  font-size:1.5rem; /* 1rem==16px */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  text-align: justify;
  font-weight: 500;
  font-variant: small-caps;
}

/* CSS Border  */
/*
border-color: red;
border-width: thin;
border-width: medium;
border-width: thick;
border-width: 10px;
border-style: solid;
border-style: double;
border-style: groove;
border-style: dotted;
border-style: dashed;
border-style: inset;
border-style: outset;
border-style: ridge;
border-style: hidden;
border-bottom-style: dashed ;
border-bottom-color: yellow;
border-bottom-width: 5px;
*/
.border{
  font-size:18px;
  border-color:green;
  border-style:solid ;
  border-width: 5px;
}

.border1{border:solid red 6px; border-bottom: none;}

.p1{background: blue; margin-bottom:50px; padding-left:50px}
.p2{background: red; padding:10px 24px; color:#fff}

.div1{width:340px; height:100px; background: purple; padding:8px; color:#fff; float:left;}
.div2{width:200px; height:100px; background: green; padding:8px; color:#fff; float:left; margin-left:10px ;}
.clear{clear: both;}
.nav{background:purple; padding:12px 16px;
  position:absolute;
}
.nav .list{
  /* list-style-image: url('../img/2.jpg'); */
  list-style-type: none;
  margin:0px;
  padding:0px;
  color:#fff;
  font-family:arial;


}
.nav .list li{
  float:left;
  margin-right:1rem;
}
.nav .list li a{
  color:#fff;
  text-decoration:none;
}
.nav .list li a:hover{
 color:silver;
}

.nav .list li a:visited{
  color:blue;
}
.nav .list li a{
  cursor: pointer;
  /* cursor: url
cursor: auto
cursor: crosshair
cursor: default
cursor: pointer
cursor: move
cursor: e-resize
cursor: ne-resize
cursor: nw-resize
cursor: n-resize
cursor: se-resize
cursor: sw-resize
cursor: s-resize
cursor: w-resize
cursor: text
cursor: wait
cursor: help
}
 */
}

.body{
 margin-top:10px;
}


h4
{
position: relative;
top: 30px;
left: 50px;
z-index: 2;
background-color: #336699;
}

h3
{
position: relative;
z-index: 10;
background-color: #FFCCCC;
}

.img1{
  float:left;
}
.img2{
  float:right;
}

.pa1{
  background:blue;
  float:left;
  width:33%;
}

.pa2{
  background:red;
  float:left;
  width:33%;
}

.pa3{
  background: gray;
  float:left;
  width:33%;
}