/* logo & nav */

body{background: #ffffff;
margin:0px;
padding:0px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  width:95%;
  margin:0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
}

.logo{
  float:left;
}
.adv1{
  float:right;
}

.logo_section{
  padding:1.5rem 1rem;
}

.clear{
  clear:both;
}

.nav{
  background:#0e5dae;
  margin:0px;
  padding:0px;
}

.nav ul{
  list-style: none;
  margin:0px; padding:0px;
  padding:12px 4px!important;
}
.nav ul li{
  float:left;
}

.nav ul li a{
color:#fff;
text-decoration: none;
font-weight: 500;
font-size:18px;
margin-left:16px;
padding:12px 12px 13px 12px!important;
}

.nav ul li a:hover{
  background-color:#0c5095;
}

.bars{
  padding-top:2px;
}
.en{
  background-color: #e11b22;
}
/* logo & nav */

/* Trending */
  .trending ul{
      list-style: none;
      margin:0px; padding:0px;
  }
  .trending ul li{
    float:left;
    color:#000;
    margin-right: 1rem;
    padding:14px 2px;
  }
  .trending ul li a{
    text-decoration: none;
  }
  .trending{
    border-bottom: 1px solid #dbdbdb;
  }

  .trending .trending-arrow{
    background-color: #f0f0f0;
    text-transform: uppercase;
    padding:18px 10px;
    font-size:12px;
    font-weight: 600;
  }

  .trending .trending-arrow{
    background-image: url('../images/arrow.jpg');
    background-position: center right;
    
    background-repeat: no-repeat;
  }


/* Trending */
