body{background: gray;}
.heading1{font-size:35px;}
.heading2{font-size:28px;}
.heading3{font-size:24px;}
.heading1,.heading2,.heading3{color:red; font-family: Arial, Helvetica, sans-serif;}

.para{text-align:justify; font-size:18px;}

/*
Css Background:
 */

 